h1{
    margin-top: 20px;
    color:  #ffffffac;
    text-align: center;
}

 .loginForm{
     position: fixed;

     width: 500px;
     top: 35%;
     left: 50%;
     transform: translate(-50%, -50%);
     background-color: rgba(39,40,45);
     z-index: 1;
 }
  
::placeholder{
    color: hsl(231, 3%, 47%);
    
}

.signup{
    background-color: #d74040;
}

.login{
    background-color: #5957c7;
}

  input {
    display: block;
    font-size: 18px;
    margin: 50px auto;
    width: 400px;
    height: 50px;
    text-align: center;
    border: none;
    background-color: #3a3a46;
    border-radius: 3px;
    color: #ffffffac;
    outline: none;
  }
  input:focus::placeholder {
    color: transparent;
  }


  button {
      color: white;
      height: 50px;
    font-size: 30px;
    display: block;
    margin: 20px auto;
    width: 200px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Cutive Mono', monospace;
  }

  .login:hover{
    background-color: #4946d3;
  }

  .signup:hover{
    background-color: #dd3030;
  }

  .fadein{
    opacity: 1;
    animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 2s;
  }

  .fadeout{
    opacity: 0;
    animation-name: fadeOutOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 2s;
  }

  @keyframes fadeOutOpacity {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes fadeInOpacity {
      0%{
          opacity: 0;
      }
      100%{
        opacity: 1;
    }
  }