.singlePlanetContainer {
    position: fixed;
    left: auto;
    right: 320px;
    top: 50%;
    transform: translateY(-50%);
    
    width: calc(70% - 320px);
    color: #000;
    padding: 30px;
    background: #ffffffac;
    
}
.data-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.planet-heading {
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
    color : #000;
}

.data-wrapper .row {
    padding: 10px 0;
    border-bottom: 1px solid #00000019;
}
.row{
    color:rgb(0, 0, 0);
}
.p {
    font-weight:700;
    color: #243b80;
}

.planet-img {
    width: 30%;
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
}

@media screen and (min-width: 888px) {
    .singlePlanetContainer {
            max-width:600px;
    }
}
